<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Dashboard{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="c/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="c/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="c/jquery.lightbox-0.5.css">
</head>
<body>

<div class="navbar">
	<div class="navbar-inner">
    	<div class="container-fluid">
    		<a class="brand" href="/" style="color:#999;margin-top:0.4em;">guperf.appspot.com</a></p>
	  		<ul class="nav pull-right">
  				<li><a href="/">Dashboard</a></li>
  				<li><a href="/log">Log</a></li>
  				<li class="divider-vertical"></li>
	  		</ul>
    	</div>
  	</div>
</div>

<div class="container-fluid">

	<div class="row-fluid">
	    <!--<div class="span2">

			<ul class="nav nav-list">
				<li class="nav-header">List header</li>
				<li><a href="#">Google Page Speed</a></li>
				<li><a href="#">Web Page Test</a></li>
			</ul>
	    
	    </div>-->
	    <div class="span12">

		{% block content %}{% endblock %}

		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/j/bootstrap-plugins.js"></script>
<script src="/j/jquery.lightbox-0.5.min.js"></script>
<script src="/j/core.js"></script>
</body>
</html>