<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Dashboard{% endblock %} | GU Perf</title>
	<link rel="stylesheet" type="text/css" href="/c/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/c/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="/c/jquery.lightbox-0.5.css">
</head>
<body>

<div class="navbar">
	<div class="navbar-inner">
    	<div class="container-fluid">
    		<a class="brand" href="/" style="color:#999;margin-top:0.4em;">guperf.appspot.com</a></p>
	  		<ul class="nav pull-right">
  				<li class="dropdown">
  					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Dashboards</a>
  					<ul class="dropdown-menu">
  						{% for dashboard in dashboards %}
  						<li><a href="/dashboard/{{ dashboard.id }}">{{ dashboard.name }}</a></li>
  						{% endfor %}
  					</ul>
  				</li>
  				<li><a href="/admin/urls">Tests</a></li>
          <li><a href="/admin/status">Status</a></li>
	  		</ul>
    	</div>
  	</div>
</div>

<div class="container-fluid">

	<div class="row-fluid">
	    <div class="span12">

		{% block content %}{% endblock %}

		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/j/bootstrap-plugins.js"></script>
<script src="/j/jquery.lightbox-0.5.min.js"></script>
<script src="/j/core.js"></script>
</body>
</html>