<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="c/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="c/bootstrap-responsive.min.css">
</head>
<body>
<h1>Dashboard</h1>

<h2>Network Front</h2>

<dl>
	<dt>Overall score</dt>
	<dd>{{ front.score }}</dd>
	<dt>Total JS Assets</dt>
	<dd>{{ front.pageStats.numberJsResources }}</dd>
</dd>

<h2>Football</h2>

<dl>
	<dt>Overall score</dt>
	<dd>{{ football.score }}</dd>
	<dt>Total JS Assets</dt>
	<dd>{{ football.pageStats.numberJsResources }}</dd>
</dd>

</body>
</html>
